body{
  text-alighn: center;
  font-family: arial;
  font-size:10px;
  background:#adadad;
}

li{
  list-style: none;
  line-height: 2mm;
  text-align: left;
}

.header{
  background:#8c8c8c;
  border-bottom:#3d3d3d 3px solid;
  padding:20px;
}

.container{
  width:700px;
  margin:30px auto;
}
