body{
  text-alighn: center;
  font-family: arial;
  font-size:10px;
  background:#666666;
}

li{
  list-style: none;
  line-height: 2mm;
  text-align: left;
}

.header{
  background:#4f4f4f;
  border-bottom:#2d2d2d 3px solid;
  padding:20px;
}

.container{
  width:700px;
  margin:30px auto;
}
